<html>
  <head>
    <title>Test Application - Rails <%= Rails::VERSION::STRING %></title>
    <%= stylesheet_link_tag "app" %>
  </head>
  <body>
    <%= e9s %>
    <div id="page">
      <%= yield %>
    </div>
  </body>
</html>